In [4]:
import pandas as pd
data={'sname':['s1','s2','s3','s4'],
     'height':[162,171,155,165],
     'weight':[63,60,50,62],
     'speed':[5,3,7,2]}
df=pd.DataFrame(data)
df

  sname  height  weight  speed
0    s1     162      63      5
1    s2     171      60      3
2    s3     155      50      7
3    s4     165      62      2

In [2]:
from sklearn.preprocessing import Normalizer

In [7]:
norm=Normalizer()
df_num=df[['height','weight','speed']]
data=norm.fit_transform(df_num)
df=pd.DataFrame(data,columns=df_num.columns)
df

     height    weight     speed
0  0.931619  0.362296  0.028754
1  0.943471  0.331042  0.016552
2  0.950831  0.306720  0.042941
3  0.936036  0.351722  0.011346

In [8]:
from sklearn.preprocessing import StandardScaler

In [9]:
ss=StandardScaler()
df_num=df[['height','weight','speed']]
data=ss.fit_transform(df_num)
df=pd.DataFrame(data,columns=df_num.columns)
df

     height    weight     speed
0 -1.211668  1.146183  0.316467
1  0.407308 -0.324909 -0.685041
2  1.412740 -1.469753  1.480945
3 -0.608380  0.648479 -1.112371